@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/*         js eer create hiisen elementuudiin style uud   START */
.xBtnParent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.fa-circle-xmark {
    transition: .2s;
}
.fa-circle-xmark:hover {
    cursor: pointer;
    color: #000000b6;
}
/*   js eer create hiisen elementuudiin style uud END    */

:root {
    --btnPink: #e53cf6;
    --green: #00ff45;
    --pink: #ff0090;
    --focus: purple;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-inset: rgba(255, 255, 255, 0.5);
    --comment-text: #65676B;
}
body {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to right top, #e100ff, #f0e0e0, #00ff45);
}
.body-in {
    width: 100%;
    min-height: 100vh;
    display: flex; 
    justify-content: space-between;
    position: relative;
}
.left {
    padding: 30px;
    /* width: 20%; */
    position: fixed;
}
.main {
    /* width: 36%; */
    margin: auto;
}
.right {
    /* width: 20%; */
    position: fixed;
    right: 0;
    padding: 30px;
}

@media screen and (max-width: 649px) {
    .left {
        left: 0;
        right: 0;
        position: absolute;
    }
    .main {
        margin-top: 500px;
        width: 100%;
    }
    .right {
        position: absolute;
        left: 0;
        right: 0;
        top: 200px;
    }
}


@media screen and (min-width: 650px) and (max-width: 749px) {
    .left {
        padding: 30px;
        width: 50%;
        top: 0;
        position: absolute;
    }
    .create-new-post {
        height: 204px;
    }
    .main {
        width: 87%;
        margin-top: 300px;
    }
    .right {
        width: 50%;
        position: absolute;
        right: 0;
        padding: 30px;
    }
    
}



@media screen and (min-width: 750px) and (max-width: 929px) {
    .body-in  {
        justify-content: flex-end;
    }
    .left {
        width: 40%;
        position: fixed;
        left: 0;
    }
    .main {
        width: 60%;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;

    }
    .right {
        width: 40%;
        position: fixed;
        top: 250px;
        left: 0;
    }
}

@media screen and (min-width: 930px) and (max-width: 1400px) {
    .left {
        width: 30%;
    }
    .main {
        width: 40%;
        margin-top: 0;
    }
    .right {
        width: 30%
    }
}

.create-new-post {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 1.5rem ;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;
    /* box-shadow: 0 12px 28px 0 var(--shadow-2),0 2px 4px 0 var(--shadow-1),inset 0 0 0 1px var(--shadow-inset); */
    /* box-shadow: 0 0 7px 4px rgb(2 0 0 / 17%); */
    /* box-shadow: 0 0 179px 429px black; */
    /* box-shadow: 0 0 179px 807px #000000cf; */
    /* box-shadow: 0 0 0 100vh #00000094; */
}
#new-post-input {
    width: 90%;
    padding: 12px;
    min-height: 39px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #8080804d;
    margin-top: 10px;
    transition: .5s;
}
#new-post-btn {
    width: 70%;
    height: 35px;
    border-radius: 20px;
    border: none;
    transition: .2s;
    background-color: var(--btnPink);
    color: white;
}
#new-post-input:focus {
    border: 1px solid var(--pink);
}
#new-post-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.246);
    background-color: #56f47c;
    color: black;
}


/* ---------------------- main start ----------------------*/

.main {
    padding: 30px;
    /* font-family: Segoe UI Historic, Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif !important; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#new-post {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif ;
    font-size: calc(1rem - 1px);
    color: rgba(0, 0, 0, 0.952);
    background-color: white;
    border-radius: 7px;
    line-height: 1.35;
    word-spacing: 3px;
    word-wrap: break-word;
}
#whoPosted {
    width: 100%;
    font-family: 'Segoe UI Historic' , 'Segoe UI';
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.fa-trash-can {
    transition: .2s;
}
.fa-trash-can:hover {
    color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    animation: shake .5s linear;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(7deg);
    }
    40% {
        transform: rotate(-7deg);
    }
    60% {
        transform: rotate(4);
    }
    80% {
        transform: rotate(-4);
    }
    100% {
        transform: rotate(0);
    }
}
#new-post-text {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto', sans-serif ;
    font-size: calc(1rem - 1px);
    /* color: #000000c2; */
    color: rgba(0, 0, 0, 0.952);
    background-color: white;
    border-radius: 7px;
    line-height: 1.35;
    word-spacing: 3px;
    word-wrap: break-word;
}

.postId {
    display: none;  
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #c7c7c7dc;
}

#commentsParent {
    width: 86%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 15px 0;
}

#addCommentEl {
    width: 100%;
    height: 35px;
    padding: 12px;
    min-height: 35px;
    color: var(--comment-text);
    border-radius: 25px;
    outline: none;
    border: none;
    margin-top: 10px;
    transition: .5s;
    /* background-color: #e6faffb5; */
    background-color: rgb(240 242 245);
}

#newComment {
    width: fit-content;
    max-width: 100%;
    background-color: rgb(240 242 245);
    padding: 8px 12px ;
    border-radius: 15px;
}

#newCommentOwner {
    font-size: 14px;    
    /* font-family: 'Alice', serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Playfair Display SC', serif; */
    /* font-family: 'Prompt', sans-serif; */
    font-family: 'Readex Pro', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Sacramento', cursive; */
    font-weight: 700;
}

#newCommentText {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Alice', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------  right  START --------------------------------  */

.log-out-parent {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center ;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.fa-spinner {
    display: none;
    font-size: 3rem;
    position: absolute;
    left: 15px;
    top: 15px;
    animation: load 1s linear infinite;
}

.avatar {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}
.avatar:hover {
    cursor: pointer;
    animation: shake .4s ease 1;
}

.user-name {
    word-spacing: 8px;
    font-size: 30px;
    font-weight: 700;
}

.log-out-button {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border: none;
    /* background-color: var(--btnPink); */
    background-color: rgb(255, 0, 0);
    color: white;
    transition: .2s;
    margin-top: 10px;
}
.log-out-button:hover {
    cursor: pointer;
    background-color: var(--green);
    background-color: rgb(255, 55, 55);
}



/*  -------------  profile zurag songoh start  ------------------ */

@keyframes shake {
    0% {
        /* transform: rotate(1); */
    }
    20% {
        transform: rotate(-10deg);
        box-shadow: 0px 0px 14px 1px grey;
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes load {
    from {

    }
    to {
        transform: rotate(180deg);
    }
}

/*  -------------  profile zurag songoh end  ------------------ */

