@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/*         js eer create hiisen elementuudiin style uud   START */
.xBtnParent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.fa-circle-xmark {
    transition: .2s;
}
.fa-circle-xmark:hover {
    cursor: pointer;
    color: #000000b6;
}
/*   js eer create hiisen elementuudiin style uud END    */

:root {
    --btnPink: #e53cf6;
    --green: #00ff45;
    --pink: #ff0090;
    --focus: purple;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-inset: rgba(255, 255, 255, 0.5);
}
body {
    width: 100%;
    background-image: linear-gradient(to right top, #e100ff, #f0e0e0, #00ff45);
}
.body-in {
    width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
    /* display: grid;  */
    /* grid-template-columns: 30% 40% 30%;*/
    display: flex; 
    justify-content: space-between;
}
.left {
    /* background-color: cyan; */
    padding: 30px;
    width: 20%;
}
.main {
    /* background-color: yellow; */
    width: 36%;
}
.right {
    /* background-color: pink; */
    width: 20%;
}
@media screen and (max-width: 1400px) {
    .left {
        width: 30%;
    }
    .main {
        width: 40%;
    }
    .right {
        width: 30%
    }
}

.create-new-post {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 1.5rem ;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0 12px 28px 0 var(--shadow-2),0 2px 4px 0 var(--shadow-1),inset 0 0 0 1px var(--shadow-inset); */
    /* box-shadow: 0 0 7px 4px rgb(2 0 0 / 17%); */
    /* box-shadow: 0 0 179px 429px black; */
    /* box-shadow: 0 0 179px 807px #000000cf; */
    /* box-shadow: 0 0 0 100vh #00000094; */
}
#new-post-input {
    width: 90%;
    padding: 12px;
    min-height: 39px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #8080804d;
    margin-top: 10px;
    transition: .5s;
}
#new-post-btn {
    width: 70%;
    height: 29px;
    border-radius: 20px;
    border: none;
    transition: .2s;
    background-color: var(--btnPink);
    color: white;
}
#new-post-input:focus {
    border: 1px solid var(--pink);
}
#new-post-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.246);
    background-color: #56f47c;
    color: black;
}


/* ---------------------- main start ----------------------*/

.main {
    padding: 30px;
    /* font-family: Segoe UI Historic, Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif !important; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#new-post {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto', sans-serif ;
    font-size: calc(1rem - 1px);
    color: rgba(0, 0, 0, 0.952);
    background-color: white;
    border-radius: 7px;
    line-height: 1.35;
    word-spacing: 3px;
    word-wrap: break-word;
}
#whoPosted {
    width: 100%;
    font-family: 'Segoe UI Historic' , 'Segoe UI';
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.fa-trash-can {
    transition: .2s;
}
.fa-trash-can:hover {
    color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    animation: shake .5s linear;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(7deg);
    }
    40% {
        transform: rotate(-7deg);
    }
    60% {
        transform: rotate(4);
    }
    80% {
        transform: rotate(-4);
    }
    100% {
        transform: rotate(0);
    }
}
#new-post-text {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto', sans-serif ;
    font-size: calc(1rem - 1px);
    /* color: #000000c2; */
    color: rgba(0, 0, 0, 0.952);
    background-color: white;
    border-radius: 7px;
    line-height: 1.35;
    word-spacing: 3px;
    word-wrap: break-word;
}
.hiddenIdSpan {
    display: block;
}